<a href="https://colab.research.google.com/github/ayanga1998/UFC_Dashboard/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UFC Dataset Cleaning

The purpose of this notebook is to establish set functions to clean the data we collected from the UFC Stats website and convert the raw data into information we can use for processing.

In [97]:
import pandas as pd
import numpy as np

In [98]:
dataset = pd.read_csv('/content/drive/MyDrive/Data Science/Github/UFC_Project/sample_ufc_dataset.csv', index_col=[0])

dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 36 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   red_fighter     20 non-null     object
 1   blue_fighter    20 non-null     object
 2   red_kd          20 non-null     int64
 3   blue_kd         20 non-null     int64
 4   red_ss          20 non-null     object
 5   blue_ss         20 non-null     object
 6   red_ss_pct      20 non-null     object
 7   blue_ss_pct     20 non-null     object
 8   red_ts          20 non-null     object
 9   blue_ts         20 non-null     object
 10  red_td          20 non-null     object
 11  blue_td         20 non-null     object
 12  red_td_pct      20 non-null     object
 13  blue_td_pct     20 non-null     object
 14  red_sub_att     20 non-null     int64
 15  blue_sub_att    20 non-null     int64
 16  red_rev         20 non-null     int64
 17  blue_rev        20 non-null     int64
 18  red_ctrl_time   20 non-null     object
 19  blue_ctrl_time  20 non-null     object
 20  red_head        20 non-null     object
 21  blue_head       20 non-null     object
 22  red_body        20 non-null     object
 23  blue_body       20 non-null     object
 24  red_leg         20 non-null     object
 25  blue_leg        20 non-null     object
 26  red_dist        20 non-null     object
 27  blue_dist       20 non-null     object
 28  red_clinch      20 non-null     object
 29  blue_clinch     20 non-null     object
 30  red_grnd        20 non-null     object
 31  blue_grnd       20 non-null     object
 32  result          20 non-null     object
 33  method          20 non-null     object
 34  round           20 non-null     object
 35  time            20 non-null     object
dtypes: int64(6), object(30)
memory usage: 5.8+ KB

**Key**

kd: knockdowns \
ss: significant strikes \
td: takedowns \
rev: ? \

In [99]:
dataset.head()

     red_fighter  ...                                               time
0   Ken Shamrock  ...  \n\n          Time:\n        \n        4:34\n\...
1   Royce Gracie  ...  \n\n          Time:\n        \n        4:40\n\...
2  Harold Howard  ...  \n\n          Time:\n        \n        0:46\n\...
3   Ken Shamrock  ...  \n\n          Time:\n        \n        4:49\n\...
4  Keith Hackney  ...  \n\n          Time:\n        \n        1:59\n\...

[5 rows x 36 columns]

In [100]:
def string_to_num(data, colname):
    ''' 
    Clean columns associated with string i.e. (4 of 15 strikes) and create 
    separate columns for strikes thrown and landed respectively 
    '''

    col_thrown = colname + '_thrown'
    col_landed = colname + '_landed'
    
    thrown = data[colname].apply(lambda x: int(x.replace('of', '').split()[1]))
    landed = data[colname].apply(lambda x: int(x.replace('of', '').split()[0]))

    data[col_thrown] = thrown 
    data[col_landed] = landed
    
    data = data.drop(colname, axis=1)

    return data

def clean_pct(data, col):
    '''Clean columns associated with percentages'''

    data[col] = data[col].apply(lambda x: int(x.replace('%', '').replace('---', '0').strip())/100)

    return data

def clean_ctrl_time(data):
    if '--' in data:
        time = int(data.strip().replace('--', '0'))
    else:
        time = data.strip().split(':')
        time = int(time[0])*60 + int(time[1])
    
    return time

def get_seconds(value):
    time_list = value.replace('Time:','').replace('\n','').strip().split(':')
    time = int(time_list[0])*60 + int(time_list[1])
    return time

In [101]:
df = dataset

# Extract strikes thrown and landed and store into columns
cols = ['red_ss', 'blue_ss', 'red_ts', 'blue_ts', 'red_td', 'blue_td', 
        'red_head', 'blue_head', 'red_body', 'blue_body', 'red_leg', 'blue_leg', 'red_dist', 'blue_dist',
        'red_clinch', 'blue_clinch', 'red_grnd', 'blue_grnd']

for col in cols:
    df = string_to_num(df, col)


# Clean percentage columns
pct_cols = ['red_ss_pct', 'blue_ss_pct', 'red_td_pct', 'blue_td_pct']

for col in pct_cols:
    df = clean_pct(df, col)


# Clean round data
df['round'] = df['round'].apply(lambda x: int(x.replace('\n','').replace('Round:', '').strip()))


# Clean control time columns
ctrl_cols = ['red_ctrl_time', 'blue_ctrl_time']

for col in ctrl_cols:
    df[col] = df[col].apply(lambda x: clean_ctrl_time(x))


# Clean time column (convert to seconds)
df['time'] = df['time'].apply(lambda x: get_seconds(x))


# Calculate total fight time in seconds
df['fight_time'] = (df['round']-1)*60 + df['time']

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   red_fighter         20 non-null     object
 1   blue_fighter        20 non-null     object
 2   red_kd              20 non-null     int64
 3   blue_kd             20 non-null     int64
 4   red_ss_pct          20 non-null     float64
 5   blue_ss_pct         20 non-null     float64
 6   red_td_pct          20 non-null     float64
 7   blue_td_pct         20 non-null     float64
 8   red_sub_att         20 non-null     int64
 9   blue_sub_att        20 non-null     int64
 10  red_rev             20 non-null     int64
 11  blue_rev            20 non-null     int64
 12  red_ctrl_time       20 non-null     int64
 13  blue_ctrl_time      20 non-null     int64
 14  result              20 non-null     object
 15  method              20 non-null     object
 16  round               20 non-null     int64
 17  time                20 non-null     int64
 18  red_ss_thrown       20 non-null     int64
 19  red_ss_landed       20 non-null     int64
 20  blue_ss_thrown      20 non-null     int64
 21  blue_ss_landed      20 non-null     int64
 22  red_ts_thrown       20 non-null     int64
 23  red_ts_landed       20 non-null     int64
 24  blue_ts_thrown      20 non-null     int64
 25  blue_ts_landed      20 non-null     int64
 26  red_td_thrown       20 non-null     int64
 27  red_td_landed       20 non-null     int64
 28  blue_td_thrown      20 non-null     int64
 29  blue_td_landed      20 non-null     int64
 30  red_head_thrown     20 non-null     int64
 31  red_head_landed     20 non-null     int64
 32  blue_head_thrown    20 non-null     int64
 33  blue_head_landed    20 non-null     int64
 34  red_body_thrown     20 non-null     int64
 35  red_body_landed     20 non-null     int64
 36  blue_body_thrown    20 non-null     int64
 37  blue_body_landed    20 non-null     int64
 38  red_leg_thrown      20 non-null     int64
 39  red_leg_landed      20 non-null     int64
 40  blue_leg_thrown     20 non-null     int64
 41  blue_leg_landed     20 non-null     int64
 42  red_dist_thrown     20 non-null     int64
 43  red_dist_landed     20 non-null     int64
 44  blue_dist_thrown    20 non-null     int64
 45  blue_dist_landed    20 non-null     int64
 46  red_clinch_thrown   20 non-null     int64
 47  red_clinch_landed   20 non-null     int64
 48  blue_clinch_thrown  20 non-null     int64
 49  blue_clinch_landed  20 non-null     int64
 50  red_grnd_thrown     20 non-null     int64
 51  red_grnd_landed     20 non-null     int64
 52  blue_grnd_thrown    20 non-null     int64
 53  blue_grnd_landed    20 non-null     int64
 54  fight_time          20 non-null     int64
dtypes: float64(4), int64(47), object(4)
memory usage: 8.8+ KB